<div>
    <h1>Formulario de Recargas</h1>
    <div>
        <a class="navbar-item"></a>
        <img [src]="imgMovistar" class="myLogo">
        <img [src]="imgTigo" class="myLogo">
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form action="">
            <div class="mb-2">
                <label>{{nombreAsesor}}</label>
                <input type="text">
            </div>
            <div class="mb-2">
                <label>{{operador}}</label>
                <input type="text" >
            </div>
            <div class="mb-2">
                <label>{{valRec}}</label>
                <input type="number">
            </div>
            <div class="mb-2">
                <label>{{cantRec}}</label>
                <input type="number">
            </div>
            <button>Regitrar Recarga</button>
        </form>
    </div>
</div>
