<div>
    <h1>Formulario de Recargas</h1>
    <div>
        <a class="navbar-item"></a>
        <img src="assets/logos/movistar-logo.png" class="myLogo">
        <img src="assets/logos/tigo-logo.png" class="myLogo">
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form action="">
            <div class="mb-2">
                <label>{{nombreAsesor}}</label>
                <input type="text">
            </div>
            <div class="mb-2">
                <label>{{operador}}</label>
                <input type="text">
            </div>
            <div class="mb-2">
                <label>{{valRec}}</label>
                <input type="text">
            </div>
            <div class="mb-2">
                <label>{{cantRec}}</label>
                <input type="text">
            </div>
        </form>
    </div>
</div>
